@import "tailwindcss";

body {
  background: #ffffff;
  color: #21293c;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #fff3f2;
  color: #ff6154;
}

* { box-sizing: border-box; }
a { color: inherit; }
